{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block body %}


  <div class="container">
    <form class="form-inline" action="{{ url_for('index') }}" method="POST">
      <div class="form-group">
        <label for="matchupYear">Year: </label>
        <input type="number" class="form-control" name="matchupYear" id="matchupYear" aria-describedby="emailHelp" placeholder="2015-2023">
      </div>
      <div class="form-group">
        <label for="matchupWeek">Week:</label>
        <input type="number" class="form-control" name="matchupWeek" id="matchupWeek" placeholder="1-16">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Home Team</th>
          <th scope="col">Home Score</th>
          <th scope="col">Away Team</th>
          <th scope="col">Away Score</th>
        </tr>
      </thead>
      <tbody>
      {% for game in matchupData %}
        <tr id="{{loop.index}}">
          {% if  game.home_score > game.away_score %}
            <td style="background-color: #ACD1AF" >{{ game.home_team.team_name }}</td>
            <td style="background-color: #ACD1AF" >{{ game.home_score }}</td>
            <td>{{ game.away_team.team_name }}</td>
            <td>{{ game.away_score }}</td>
          {% else %}
            <td>{{ game.home_team.team_name }}</td>
            <td>{{ game.home_score }}</td>
            <td  style="background-color: #ACD1AF" >{{ game.away_team.team_name }}</td>
            <td  style="background-color: #ACD1AF" >{{ game.away_score }}</td>
          {% endif %}
          </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="container">
    {% for game in matchupData %}
    <div class="row" id="roster_matchup_{{loop.index}}">
      <div class="col">
        <table class="table table-sm">
          <thead>
            <th>{{ game.home_team.team_name }}</th>
          </thead>
          <thead>
            <th scope="col">Player</th>
            <th scope="col">Position</th>
          </thead>
          <tbody>
            {% for player in game.home_team.roster %}
            <tr>
              <td> {{ player.name }} </td>
              <td> {{ player.position }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-sm">
          <thead>
            <th>{{ game.away_team.team_name }}</th>
          </thead>
          <thead>
            <th>Player</th>
            <th>Position</th>
          </thead>
          <tbody>
            {% for player in game.away_team.roster %}
            <tr>
              <td> {{ player.name }} </td>
              <td> {{ player.position }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock body %}
